<head>
    <title>Timesheets</title>
</head>

<body>
    <div class="container" ng-app="freelance-manager">
        <div class="row ">
            <div class="col-xs-12">
                <login-buttons style="float: left; margin-top: 10px; text-decoration: none !important;"></login-buttons>
                <h1 style="margin-top: 60px; margin-bottom: 40px;" ng-if="currentUser">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="36" viewBox="0 0 50 75" style="padding-top: 10px;">
                        <path d="M41.114 60.89c-.928.146-2.86.333-4.013.333-6.702 0-9.637-3.357-10.813-8.06-.524-2.095-.697-4.458-.697-6.907V22.448H32.61V9.746h-7.02V.166h-4.904C7.02.165 0 5.435 0 16.875V49.11c0 5.33 1.464 9.827 4.01 13.46C7.96 68.21 14.52 71.76 22.286 73.07c0 0 14.298-3.303 18.83-12.18m34.95-38.44V9.746H59.647c-7.968 0-13.718 3.98-15.808 9.85-.958 2.7-1.147 5.795-.424 9.092 1.166 5.365 2.364 9.565 3.195 13.81.654 3.335 1.08 6.69 1.08 10.662 0 1.344-.13 2.646-.382 3.898-1.4 6.902-6.687 12.416-16.334 15.936l.222.893c.817.036 3.157.11 8.137.11 11.13 0 23.746-2.657 29.52-10.64 2.013-2.776 3.2-6.2 3.2-10.382 0-3.052-1.072-8.827-2.086-13.774-.84-4.084-1.642-7.605-1.78-8.548-.23-1.615-.2-2.94.066-4.02.794-3.216 3.667-4.244 7.812-4.187" fill="#000"></path>
                    </svg>
                    Reviso Projects Tracker
                </h1>
            </div>
        </div>
        <div ng-if="!currentUser" align="center" class="red">
            <h3><i class="fa fa-exclamation-triangle"></i> Please sign in to continue!</h3>
        </div>
        <div ng-if="currentUser">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="pill" href="#customers"><i class="fa fa-building"></i> Customers</a></li>
                <li><a data-toggle="pill" href="#projects"><i class="fa fa-briefcase"></i> Projects</a></li>
                <li><a data-toggle="pill" href="#timesheets"><i class="fa fa-calendar-o"></i> Timesheets</a></li>
                <li><a data-toggle="pill" href="#insights"><i class="fa fa-pie-chart"></i> Insights</a></li>
            </ul>

            <div class="tab-content">
                <customers id="customers" class="tab-pane fade in active"></customers>
                <projects id="projects" class="tab-pane fade"></projects>
                <timesheets id="timesheets" class="tab-pane fade"></timesheets>
                <insights id="insights" class="tab-pane fade"></insights>
            </div>

        </div>
    </div>
</body>