/*
 * GLOBAL STYLES
 */

.margin-bottom-30 {
    margin-bottom: 30px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    padding: 5px 10px;
}

.list-group-item .form-group {
    margin: 0;
}

.list-group-item .help-block {
    margin: 0;
}

form .input-group {
    width: 100%;
}

form ol {
    width: 100% !important;
}

.hover-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    display: none;
    background-color: white;
    /* border: 1px solid lightgray; */
    border-radius: 3px;
    padding: 3px 5px;
}

.items-list li:hover .hover-btn {
    display: block;
}

.hover-btn i {
    padding: 5px;
    color: grey;
}

.hover-btn i:hover {
    color: black;
    cursor: pointer;
}

.hover-btn .removeItem:hover {
    color: red;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.red {
    color: darkred;
}

#login-buttons a, .accounts-dialog a {
    text-decoration: none !important;
    font-size: 14px!important;
    color: #337ab7;
}

.green {
    color: green;
}