<div class="panel panel-default no-border">
    <div class="panel-body">
        <div class="row margin-bottom-30">
            <div class="col-xs-12">
                <button class="btn btn-primary pull-right" ng-click="$ctrl.addCustomer()"><i class="fa fa-plus"></i> New Customer</button>
            </div>
        </div>
        <div class="items-list">
            <ul class="list-group">
                <li ng-repeat="customer in $ctrl.customers track by $index" class="list-group-item">
                    <div class="row">
                        <div class="ellipsis col-sm-6">
                            <b>{{ customer.name }}</b>
                        </div>
                        <div class="ellipsis col-sm-3">
                            <i class="fa fa-id-card"></i> {{ customer.vat }}
                        </div>
                        <div class="ellipsis col-sm-3">
                            <i class="fa fa-envelope"></i> {{ customer.email }}
                        </div>
                    </div>
                    <div class="hover-btn">
                        <i data-toggle="tooltip" title="Edit" ng-click="$ctrl.editCustomer(customer)" class="fa fa-pencil"></i>
                        <i data-toggle="tooltip" title="Delete" ng-click="$ctrl.removeCustomer(customer)" class="removeItem fa fa-trash"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>