<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form id="customerForm" class="form-horizontal" ng-submit="save()">
            <div class="form-group">
                <label for="customerName" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-9" id="customerName">
                    <input required ng-model="form.name" type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="customerVat" class="col-sm-3 control-label">VAT Number:</label>
                <div class="col-sm-9" id="customerVat">
                    <input required ng-model="form.vat" type="text" class="form-control" placeholder="VAT Number">
                </div>
            </div>
            <div class="form-group">
                <label for="customerEmail" class="col-sm-3 control-label">Contact email:</label>
                <div class="col-sm-9" id="customerEmail">
                    <input ng-model="form.email" type="email" class="form-control" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" form="customerForm"><i class="fa fa-floppy-o"></i> Save</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="close()">Close</button>
    </div>
</div>