<div class="panel panel-default no-border">
    <div class="panel-body">
        <div class="row" style="margin-top: 30px;">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="weekDate" class="col-sm-1 control-label">Date:</label>
                    <div class="col-sm-3" id="weekDate">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="$ctrl.dateInput" is-open="opened" ng-init="opened=false" ng-click="opened=!opened" ng-required="true" show-button-bar="false"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="opened=!opened"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <label for="hideCompleted" class="col-sm-2 control-label">Hide completed:</label>
                    <div id="hideCompleted" class="col-sm-1" ng-click="hideCompleted = !hideCompleted" style="padding-top: 3px;">
                        <i class="fa fa-2x" ng-class="hideCompleted ? 'fa-toggle-on green' : 'fa-toggle-off'"></i>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="$ctrl.projects.length == 0" align="center">
            <h4>No projects founds.</h4>
        </div>
        <table class="table table-bordered" ng-show="$ctrl.projects.length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="day in days track by $index" style="text-align: right">{{ day | date : "dd/MM" }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in $ctrl.projects | filter : (hideCompleted || '') && { completed: false } track by $index">
                    <td class="col-sm-4">
                        <b>{{project.name}}</b>
                        -
                        <i><small>{{project.customerName}}</small></i>
                    </td>
                    <td ng-repeat="day in days track by $index" class="col-sm-1" style="padding: 0;">
                        <input required ng-model="form[project._id][day].hours" type="number"  min="0" class="form-control" ng-blur="$ctrl.save(project._id, day, form[project._id][day])" placeholder="0" style="text-align: right; border: none;" />
                    </td>
                    <td class="col-sm-1" style="text-align: right; padding: 6px 12px 7px 12px;">
                        <b>{{totals.projects[project._id] || 0}}</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-4"><i>Total:</i></td>
                    <td ng-repeat="day in days track by $index" class="col-sm-1" style="text-align: right; padding: 6px 12px 7px 12px;" ng-class="totals.days[day] > 24 ? 'red' : ''" data-toggle="tooltip" title="{{totals.days[day] > 24 ? 'What?!' : ''}}">
                        <b>{{totals.days[day] || 0}}</b>
                    </td>
                    <td class="col-sm-1" style="text-align: right; padding: 6px 12px 7px 12px;">
                        <b><i>{{totals.total}}</i></b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>