<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form id="projectForm" class="form-horizontal" ng-submit="save()">
            <div class="form-group">
                <label for="projectName" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-9" id="projectName">
                    <input required ng-model="project.name" type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="projectCustomer" class="col-sm-3 control-label">Customer:</label>
                <div class="col-sm-9" id="projectCustomer">
                    <select required
                            class="form-control"
                            ng-init="project.customerId = project.customerId || customers[0]._id"
                            ng-model="project.customerId"
                            ng-options="customer._id as customer.name for customer in customers">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="projectRate" class="col-sm-3 control-label">Hourly rate (€):</label>
                <div class="col-sm-9" id="projectRate">
                    <input ng-model="project.hourlyRate" type="number" min="0" class="form-control" placeholder="€/Hour">
                </div>
            </div>
            <div class="form-group">
                <label for="projectDueDate" class="col-sm-3 control-label">Due date:</label>
                <div class="col-sm-9" id="projectDueDate">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="project.dueDate" is-open="opened" ng-init="opened=false" ng-click="opened=!opened" ng-required="true" close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="opened=!opened"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="projectNote" class="col-sm-3 control-label">Note:</label>
                <div class="col-sm-9" id="projectNote">
                    <textarea ng-model="project.note" class="form-control" rows="5" placeholder="Enter a note"></textarea>
                </div>
            </div>
            <div class="form-group" ng-click="project.completed = !project.completed">
                <label for="projectCompleted" class="col-sm-3 control-label">Completed:</label>
                <div class="col-sm-9" id="projectCompleted" style="padding-top: 3px;">
                    <i class="fa fa-2x" ng-class="project.completed ? 'fa-toggle-on green' : 'fa-toggle-off'"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" form="projectForm"><i class="fa fa-floppy-o"></i> Save</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="close()">Close</button>
    </div>
</div>