<div class="panel panel-default no-border">
    <div class="panel-body">
        <div class="row margin-bottom-30">
            <div class="col-xs-12">
                <button ng-disabled="$ctrl.customers.length == 0" data-toggle="tooltip" title="{{$ctrl.customers.length == 0 ? 'Please add at least one customer' : ''}}" class="btn btn-primary pull-right" ng-click="$ctrl.addProject()"><i class="fa fa-plus"></i> New Project</button>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="hideCompleted" class="col-sm-2 control-label">Hide completed:</label>
                    <div id="hideCompleted" ng-click="hideCompleted = !hideCompleted" style="padding-top: 3px;">
                        <i class="fa fa-2x" ng-class="hideCompleted ? 'fa-toggle-on green' : 'fa-toggle-off'"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="items-list">
            <ul class="list-group">
                <li ng-repeat="project in $ctrl.projects | filter : (hideCompleted || '') && { completed: false } track by $index" class="list-group-item">
                    <div class="row">
                        <div class="ellipsis col-sm-4">
                            <i ng-if="project.note.length > 0" class="fa fa-info-circle" uib-popover="{{project.note}}" popover-trigger="'mouseenter'" popover-placement="top-left" popover-append-to-body="true"></i>
                            <b>{{ project.name }}</b>
                        </div>
                        <div class="ellipsis col-sm-3">
                            <i class="fa fa-building"></i> {{ project.customerName }}
                        </div>
                        <div class="ellipsis col-sm-2">
                            <i class="fa fa-money"></i> {{ project.hourlyRate > 0 ? project.hourlyRate : 'For free!'}} <i ng-if="project.hourlyRate > 0">€/hour</i>
                        </div>
                        <div class="ellipsis col-sm-2" ng-class="project.dueDate.valueOf() < today ? 'red' : ''" data-toggle="tooltip" title="{{project.dueDate.valueOf() < today ? 'Overdue!' : ''}}">
                            <i class="fa fa-clock-o"></i> {{ project.dueDate | date : "dd/MM/yyyy" }}
                        </div>
                        <div class="ellipsis col-sm-1 green">
                            <i class="fa fa-check" ng-if="project.completed"></i>
                        </div>
                    </div>
                    <div class="hover-btn">
                        <i data-toggle="tooltip" title="Edit" ng-click="$ctrl.editProject(project)" class="fa fa-pencil"></i>
                        <i data-toggle="tooltip" title="Delete" ng-click="$ctrl.removeProject(project)" class="removeItem fa fa-trash"></i>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>