<div class="panel panel-default no-border">
    <div class="panel-body">
        <div class="row" style="margin-top: 30px;">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="startDate" class="col-sm-1 control-label">From:</label>
                    <div class="col-sm-3" id="startDate">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="$ctrl.fromDateInput" is-open="fromOpened" datepicker-options="fromDateOptions" ng-init="fromOpened=false" ng-click="fromOpened=!fromOpened" ng-required="true" show-button-bar="false"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="fromOpened=!fromOpened"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <label for="toDate" class="col-sm-1 control-label">To:</label>
                    <div class="col-sm-3" id="toDate">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="$ctrl.toDateInput" is-open="toOpened" datepicker-options="toDateOptions" ng-init="toOpened=false" ng-click="toOpened=!toOpened" ng-required="true" show-button-bar="false"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toOpened=!toOpened"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="!showInsights" align="center">
            <h4>No data for selected period.</h4>
        </div>
        <div ng-show="showInsights">
            <h4>Overview:</h4>
            <div class="row">
                <div id="hoursChartContainer" class="col-sm-6"></div>
                <div id="incomesChartContainer" class="col-sm-6"></div>
            </div>
            <h4>Details:</h4>
            <div style="padding: 0 20px">
                <table class="table" ng-repeat="customer in customers | filterByProperty : 'workedHours' : '!=' : 0 track by $index">
                    <thead>
                        <tr>
                            <th class="col-sm-10"><i class="fa fa-circle" style="color: {{customer.color}}"></i> {{customer.name}}</th>
                            <th class="col-sm-1" style="text-align: right;">{{customer.workedHours}} h</th>
                            <th class="col-sm-1" style="text-align: right;">{{customer.income}} €</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="project in projects | filter : { customerId: customer._id } | filterByProperty : 'workedHours' : '!=' : 0 track by $index">
                        <td class="col-sm-10" style="padding-left: 30px;"><i>{{project.name}}</i></td>
                        <td class="col-sm-1" style="text-align: right;"><i>{{project.workedHours}} h</i></td>
                        <td class="col-sm-1" style="text-align: right;"><i>{{project.income}} €</i></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>